@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witamy na stronie </h1>
    <p>Kliknij zakładkę powyżej aby wejść na stronę z formularzem</a>.</p>
    <img src="~/img/images.png" />
</div>
